html {
	scroll-behavior: smooth;
}

#background1 {
	background-image: url(../img/clouds.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 8%;
    padding-bottom: 8%;
}

#background2 {
	background-image: url();
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 8%;
    padding-bottom: 8%;
}

#background3 {
	background-image: url(../img/clouds.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 8%;
    padding-bottom: 8%;
}

.navbar a {
	color: white;
}

.navbar a:hover{
	color:  rgb(35, 49, 243);
}

.name {
	padding: 0px 0px 48px 0px;
}

.headshot {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
}


